# The Instana license. an be a plain text string or a JSON array.
licenses: {{ INSTANA_LICENSE }}
initialAdminUser: {{INSTANA_ADMIN_USER}}
initialAdminPassword: {{INSTANA_ADMIN_PASS}}
# A list of agent keys. Currently, only the first key ist used.
# Future versions will allow multiple keys to be specified for better key management.
agentKeys:
  - {{ INSTANA_DOWNLOAD_KEY }}