---
type: kubernetes.io/tls
kind: Secret
apiVersion: v1
metadata:
  name: instana-tls
  namespace: instana-core
  labels:
    app.kubernetes.io/name: instana
data:
  tls.crt: >-
    {{TLS_CERT.certificate | b64encode }}
  tls.key: >-
    {{TLS_PRIVATE_KEY.privatekey | b64encode }}