{
  "uuid": "74709474070544",
  "displayName": "Instana",
  "category": "Applications and Databases",
  "inputFields": [
    {
      "name": "apiToken",
      "value": "{{ INSTANA_API_TOKEN }}"
    },
    {
      "name": "address",
      "value": "{{ INSTANA_API_URL }}"
    },
    {
      "name": "collectVmMetrics",
      "value": "false"
    }
  ],
  "type": "Instana",
  "readonly": false
}
