{
    "displayName": "Demo User",
    "username": "{{ TURBO_SERVER_DEMOUSER }}",
    "password": "{{ TURBO_SERVER_DEMOUSER_PWD}}",
    "roles": [
      {
        "name": "ADMINISTRATOR"
      }
    ],
    "loginProvider": "Local",
    "type": "DedicatedCustomer",
    "showSharedUserSC": false
  }